*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generateMeal {
    text-align: center;
    user-select: none;
    max-width: 300px;
}

.description {
    margin: 1.1rem 0 1.1rem 0;
}

.getMeal {
    background-color: #33c3f0;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    cursor: pointer;
}

.getMeal:hover {
    background-color: #29a2c7;
}

.meal {
    width: 100%;
}

section {
    margin-top: 30px;
}

.image {
    max-width: 100%;
}

.mealThumb {
    width: 100%;
    height: auto;
}

.mealCategory {
    margin-top: 10px;
    font-size: 1.2rem;
}

.mealArea {
    margin-top: 10px;
    font-size: 1.2rem;
}

.ingredientsUl {
    list-style-type: circle;
}

.ingredientsLi {
    margin: 10px 0 10px 0;
    margin-left: 30px;
}

.mealInstructions {
    margin-top: 10px;
    line-height: 1.5rem;
}

.video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.mealVideo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
